@CHARSET "UTF-8";

.log-panel {
  background-color: #E8EEF7;
  border: 1px solid red;
  padding: 0.2em;
  margin: 0px;
  filter: alpha(opacity = 90);
  opacity: 0.9;
  z-index: 1000;
}

.log-panel .log-header {
  cursor: move;
}

.log-panel .log-text-area {
  text-align: left;
  font-size: 10pt;
}

.log-panel .log-text-area * {
  font-family: monospace;
}

.log-panel .log-stacktrace {
  white-space: nowrap;
}

.log-panel .log-message {
  cursor: help;
}

.log-panel .log-message-hover {
  background-color: #F8F8F8;
}

.log-panel .log-scroll-panel {
  background-color: #FFF;
}