@CHARSET "UTF-8";

.log-panel {
  background-color: #E8EEF7;
  border: 1px solid red;
  padding: 0.2em;
  margin: 0px;
  filter: alpha(opacity = 90);
  opacity: 0.9;
  -moz-opacity: 0.9;
  z-index: 1000;
}

.log-panel .log-header {
  cursor: move;
}

.log-panel .log-text-area {
  text-align: left;
  font-size: 10pt;
}

.log-panel .log-text-area * {
  font-family: monospace;
}

.log-panel .log-stacktrace {
  white-space: nowrap;
  overflow: hidden;
}

.log-panel .log-expanded .log-ellipsis {
  display: none;
}

.log-panel .log-collapsed .log-stacktrace {
  line-height: 1.2em;
  height: 2.4em;
}

.log-panel .log-expanded .log-stacktrace {
  height: auto;
}

.log-panel .log-scroll-panel {
  background-color: white;
}